body {
	background-color: #8DA9C4;
}

header {
	width: 100%;
	text-align: center;
	margin: 0 0 30px 0;
	font-family: 'Merriweather', serif;
}
h1 {
	color: #4c4c9f;
	font-size: 75px;
}
img {
	display: inline-block;
	float: right;
}
#newTweetsButton {
    border-style: dotted;
    margin-left: 30%;
    margin-right: 30%;
    width: 15%;
    height: 15%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#tweets {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-width: 20%;
}



#container {
	display: block;
	height: 50px;
	background-color: #EEF4ED;
	margin: 20px 120px;
}

.tweet_user {
	color: blue;
	text-decoration: underline;
}