body {
	background-color: #8DA9C4;
}

.top {
	width: @content-width;
	margin: auto;
}
header {
	height: 85%;
	width: 100%;
	text-align: center;
	margin: 0 0 30px 0;
	font-family: 'Merriweather', serif;
	background-color: rgba(25,125,150,0.5);
}
h1 {
	color: blue;
	font-size: 75px;
}
img {
	display: inline-block;
}

#tweets {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}


.row {
	font-family: 'Oswald', sans-serif;
}
#container {
	display: block;
	height: 50px;
	background-color: #EEF4ED;
	margin: 20px 100px;
}

.tweet_user {
	color: blue;
	text-decoration: underline;
}